@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

.button {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    background: #f3f3f3;
    cursor: pointer;
}
